.Academics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 0;
}
.main-head {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--darkblue);
  text-align: center;
}
.service-box-wrapper {
  display: flex;
  /* width: 80%; */
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.services {
  background: linear-gradient(to bottom, var(--gray), var(--white));
  border: 1px solid var(--gray);
  width: 14.5rem;
  height: 100%;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px var(--gray);
}
.services:hover {
  background: linear-gradient(to bottom, #272e3c, #0e1116);
  box-shadow: 1px 1px 15px 1px var(--white);
}
.services:hover .serviceContentDetails {
  color: var(--gray);
  transition: ease-in 1s;
  /* transition-dela y: 1s; */
}
.ServiceImg {
  width: 15rem;
  height: 11rem;
  border-radius: 5px;
}
.serviceContentDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.service-one-head {
  font-weight: 800;
  font-size: 1.2rem;
}
.service-box-para {
  font-weight: 400;
}
@media (max-width: 768px) {
}
