.AboutTeam-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: var(--whiteshade); */
  /* padding: 3rem 0; */
  gap: 3rem;
}
.ourTeamWrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.ourteam {
  color: var(--darkblue);
  font-family: "Dancing Script", serif;
  font-weight: 800;
  /* font-size: 1.1rem; */
}
.teamHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.meetteam {
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--darkblue);
}
.teamIntro {
  font-size: 1.2rem;
}

/* 
// <div className="AboutTeam-container">
    //   <div className="teamHead">
    //     <h1 className="ourteam">Our Team</h1>
    //     <span className="meetteam">Meet the minds behind the magic</span>
    //     <span className="teamIntro">
    //      Meet the passionate team driving innovation and excellence behind of Datcart.
    //     </span>
    //   </div>
    //   <div className="ourTeamWrapper">
    //     {ourTeam.map((member, index) => (
    //       <Link key={member.id}>
    //         <TeamCard
    //           key={index}
    //           image={member.image}
    //           name={member.name}
    //           desc={member.desc}
    //           post={member.post}
    //         />
    //       </Link>
    //     ))}
    //   </div>
    // </div> */
.AboutTeamWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.AboutTeamWrapper img {
  width: 90%;
}
