/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  /* font-family: "Playfair Display", serif; */
  /* -- numbers--
   font-family: "Mulish", serif; 
   */
  /* font-family: "Playfair Display", serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

:root {
  --darkblue: #033f47;
  --lightblue: #046672;
  --white: #f8f7f2;
  --gray: #d8d8d8;
  /* -- */
}
button {
  text-transform: capitalize;
  font-family: inherit;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
  background-color: var(--darkblue);
  color: var(--gray);
  cursor: pointer;
}
a {
  text-decoration: none;
}
