@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* number font -- font-family: "Roboto", sans-serif; */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7f2;
  color: black;
}
li,a{
  text-decoration: none;
}
:root {
  --lightgreen: #8eb69b;
  --offwhite:#f8f7f2;
  --green: #033f47;
  --darkgreen: #14682c;
  --verydarkgreen: #022b0e;
  --black: #666666;
}
